<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ponchkee - Asystent WhatsApp dla Twojej Firmy</title>
		<meta name="description" content="Uruchom w 15 min asystenta WhatsApp, który sam odpowiada klientom, filtruje pytania o cenę i dostarcza tylko zyskowne zlecenia." />
		<script defer src="https://cooperative-snail.pikapod.net/script.js" data-website-id="084b3dba-9604-4cb7-9b81-d3ea5a870b05"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
